input{
    padding: 0;
    border-radius: 0.6rem;
    width: 20rem;
    font-size: 1.2rem;
}
input:focus{
    background-color: rgb(214, 102, 32);
}
h1{
    text-align: center;
    font-size: 3rem;
    color: red;
    background-color: black;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 3;
   
    
}
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }